.footer {
    background-color: #efefef;
    min-height: 10vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Lato';
    color: rgb(154, 117, 255);
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}