.header {
    background-color: #9165c4;
    min-height: 10vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Lato';
    justify-content: center;
    font-size: 36px;
    color: white;
}